<table style="width: 500px">
  <thead style="justify-content: center; align-items: center">
    <td>Name</td>
    <td>City</td>
    <td>Company Name</td>

    <tr>
      <td>
        <app-search (emitSearchText)="nameSearch = $event"></app-search>
      </td>
      <td>
        <app-search (emitSearchText)="citySearch = $event"></app-search>
      </td>
      <td>
        <app-search (emitSearchText)="companySearch = $event"></app-search>
      </td>
    </tr>
  </thead>
  <tbody style="justify-content: center; align-items: center">
    <tr
      *ngFor="
        let user of users | filterPipe : nameSearch : citySearch : companySearch
      "
    >
      <td>{{ user.name }}</td>
      <td>{{ user.address.city }}</td>
      <td>{{ user.company.name }}</td>
    </tr>
  </tbody>
</table>
