<table style="width: 500px">
  <thead style="justify-content: center; align-items: center">
    <td>Name</td>
    <td>City</td>
    <td>Company Name</td>

    <tr>
      <td>
        <input type="text" [(ngModel)]="nameSearch" placeholder="enter name" />
      </td>
      <td>
        <input type="text" [(ngModel)]="citySearch" placeholder="enter city" />
      </td>
      <td>
        <input
          type="text"
          [(ngModel)]="companySearch"
          placeholder="enter company"
        />
      </td>
    </tr>
  </thead>

  <tbody style="justify-content: center; align-items: center">
    <tr
      *ngFor="
        let user of users | filterPipe : nameSearch : citySearch : companySearch
      "
    >
      <td>{{ user.name }}</td>
      <td>{{ user.address.city }}</td>
      <td>{{ user.company.name }}</td>
    </tr>
  </tbody>
</table>
